## **Modelo de Clasificación**
El objetivo de este ejercicio es encontrar un modelo que permita predecir si el colegio es público o privado según sus características.

https://es.wikipedia.org/wiki/Tasa_de_cancelaci%C3%B3n_de_clientes

Utilizaremos los modelos de clasificación RandomForest, Regresion Logística,  y clasificación MultiClass. 


https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html
https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html

Ayudas:

1. Listar las columnas del tipo "object" que se han de categorizar o borrar
# Get list of categorical variables
s = (data.dtypes == 'object')
object_cols = list(s[s].index)
print("Categorical variables:")
print(object_cols)

2. Listar los diferentes valores de la  columna 'xxx'
print(set(data['xxx']))

2. Para eliminar columnas de un dataframe

cols_to_drop = ['col1', 'col2']
data_result = data.drop(cols_to_drop, axis=1)

In [0]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics

## Lectura de datos y exploración

Leer el fichero de datos "College.csv".

In [0]:
file_path = <FILL>
data = <FILL>

Listar las primeras filas del fichero para ver los datos

In [35]:
<FILL>

                         School Private  Apps  ...  perc_alumni  Expend  Grad_Rate
0  Abilene Christian University     Yes  1660  ...           12    7041         60
1            Adelphi University     Yes  2186  ...           16   10527         56
2                Adrian College     Yes  1428  ...           30    8735         54
3           Agnes Scott College     Yes   417  ...           37   19016         59
4     Alaska Pacific University     Yes   193  ...            2   10922         15

[5 rows x 19 columns]

¿cuantas filas y columnas tienen los datos?

In [36]:
<FILL>

(777, 19)

Explore la cantidad de registros, la media, el desvio y los cuartiles de las columnas numéricas.

In [37]:
<FILL>

               Apps        Accept  ...        Expend  Grad_Rate
count    777.000000    777.000000  ...    777.000000  777.00000
mean    3001.638353   2018.804376  ...   9660.171171   65.46332
std     3870.201484   2451.113971  ...   5221.768440   17.17771
min       81.000000     72.000000  ...   3186.000000   10.00000
25%      776.000000    604.000000  ...   6751.000000   53.00000
50%     1558.000000   1110.000000  ...   8377.000000   65.00000
75%     3624.000000   2424.000000  ...  10830.000000   78.00000
max    48094.000000  26330.000000  ...  56233.000000  118.00000

[8 rows x 17 columns]

Liste las columnas del dataframe indicando el tipo de datos.

In [38]:
<FILL>

Columna School tipo: object
Columna Private tipo: object
Columna Apps tipo: int64
Columna Accept tipo: int64
Columna Enroll tipo: int64
Columna Top10perc tipo: int64
Columna Top25perc tipo: int64
Columna F_Undergrad tipo: int64
Columna P_Undergrad tipo: int64
Columna Outstate tipo: int64
Columna Room_Board tipo: int64
Columna Books tipo: int64
Columna Personal tipo: int64
Columna PhD tipo: int64
Columna Terminal tipo: int64
Columna S_F_Ratio tipo: float64
Columna perc_alumni tipo: int64
Columna Expend tipo: int64
Columna Grad_Rate tipo: int64

¿Cuantas privados y cuantas públicas?

In [39]:
data.groupby(['Private']).count()

         School  Apps  Accept  ...  perc_alumni  Expend  Grad_Rate
Private                        ...
No          212   212     212  ...          212     212        212
Yes         565   565     565  ...          565     565        565

[2 rows x 18 columns]

## Preparación de los datos

Liste las variables categóricas

In [40]:
# Get list of categorical variables
s = (data.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)
print(set(data['Private']))

Categorical variables:
['School', 'Private']
{'Yes', 'No'}

Indique en una lista las columnas a las que aplicar "label encoder" en good_label_cols y las que no se aplicará el encoder en bad_label_cols. (No se utilizará el nombre de la escuela para el modelo)

In [0]:
good_label_cols = <FILL>
bad_label_cols = <FILL>

Elimine del conjunto de datos las columnas bad_label_cols y deje el resultado en "label_date". Luego aplique la función de labelEncoder a las good_label_cols. Liste las primeras filas resultantes del consuto label_data

In [42]:
label_data = <FILL>
<FILL>
label_data.head()

   Private  Apps  Accept  Enroll  ...  S_F_Ratio  perc_alumni  Expend  Grad_Rate
0        1  1660    1232     721  ...       18.1           12    7041         60
1        1  2186    1924     512  ...       12.2           16   10527         56
2        1  1428    1097     336  ...       12.9           30    8735         54
3        1   417     349     137  ...        7.7           37   19016         59
4        1   193     146      55  ...       11.9            2   10922         15

[5 rows x 18 columns]

Defina la columna objetivo en col_y y en features todas las columnas de label_data, excepto la columna objetivo

In [43]:
col_y=<FILL>
features = [x for x in label_data.columns if x != col_y]
features

['Apps',
 'Accept',
 'Enroll',
 'Top10perc',
 'Top25perc',
 'F_Undergrad',
 'P_Undergrad',
 'Outstate',
 'Room_Board',
 'Books',
 'Personal',
 'PhD',
 'Terminal',
 'S_F_Ratio',
 'perc_alumni',
 'Expend',
 'Grad_Rate']

Defina "y", y X.

In [44]:
# target object y
y = label_data[<FILL>]
# Create X
X = label_data[<FILL>]

print(X.head)

<bound method NDFrame.head of       Apps  Accept  Enroll  ...  perc_alumni  Expend  Grad_Rate
0     1660    1232     721  ...           12    7041         60
1     2186    1924     512  ...           16   10527         56
2     1428    1097     336  ...           30    8735         54
3      417     349     137  ...           37   19016         59
4      193     146      55  ...            2   10922         15
..     ...     ...     ...  ...          ...     ...        ...
772   2197    1515     543  ...           14    4469         40
773   1959    1805     695  ...           31    9189         83
774   2097    1915     695  ...           20    8323         49
775  10705    2453    1317  ...           49   40386         99
776   2989    1855     691  ...           28    4509         99

[777 rows x 17 columns]>

Defina las particiones para entrenamiento y de validación con semila=1 y dejando un 20% de filas para test. Imprima cuantas filas utilizará para entrenamiento y cuantas para validar

In [0]:
# Split into validation and training data
train_X, val_X, train_y, val_y = <FILL>

In [46]:
print(<FILL>)

Apps           621
Accept         621
Enroll         621
Top10perc      621
Top25perc      621
F_Undergrad    621
P_Undergrad    621
Outstate       621
Room_Board     621
Books          621
Personal       621
PhD            621
Terminal       621
S_F_Ratio      621
perc_alumni    621
Expend         621
Grad_Rate      621
dtype: int64

In [47]:
print(<FILL>)

156

## Definición del modelo

Defina el modelo utilizando LogisticRegression con semilla=1

In [0]:
college = <FILL>

Entrene el modelo. Aumente el numero de iteraciones si ontiene un error.

In [49]:
# Fit Model
college.<FILL>

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=5000,
                   multi_class='multinomial', n_jobs=None, penalty='l2',
                   random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## Predicción y validación del modelo

Utilice el modelo para realizar las predicciones con los datos de validación y calcule el valor "score" o "accuracy"

In [50]:
from sklearn import metrics
val_predictions = college.<FILL>
score=round(college.<FILL>
print("Score datos validación %f" %score)
print("Accuracy:",metrics.accuracy_score(<FILL>))

Score datos validación 0.961500
Accuracy: 0.9615384615384616

In [0]:
assert round(score*100)==96,"Error en resultado de score"

Calcule los resultados utilizando random forest con 1000 estimadores y max_depth=10, y semilla=1

In [52]:
RF = RandomForestClassifier(<FILL>)
RF.predict<FILL>)
round(RF.score(<FILL>)

0.9359

Calcule los resultados del modelo utilizando Multi-Class Classification utilizando solver='lbfgs' y un max_iter=1000

In [53]:
NN = MLPClassifier(<FILL>)
NN.predict(<FILL>)
round(NN.score(<FILL>)

0.8974

## Resultados finales

Utilice el mejor modelo obtenido y calcule el score con todos los datos

In [54]:
college.predict(<FILL>)
score=round(college.score(<FILL>)
round(score,2)

0.94

In [0]:
assert round(score,2)*100==94,"Error en resultado de porcentaje de error"