## **Modelo de Regresión**
El objetivo de este ejercicio es encontrar un modelo que permita predecir la tripulación requerida para un crucero.
Utilizaremos "Decisión Tree" y "random forest" y necesitaremos transformar una columna del tipo string en factores (Categorización)

https://scikit-learn.org/stable/modules/tree.html
https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

Ayudas:
1. ¿Como listar el tipo de datos de cada una de las columnas?
for i in data.columns:
  print("Columna {} tipo: {}".format(i,data[i].dtype))

2. ¿Como categorizar un conjunto de columnas?
* hacemos una copia de resguardo
label_X_train = X_train.copy()
label_X_valid = X_valid.copy()

* aplicamos label encoder a cada una de las columnas definidas en "object_cols". Las columnas se reemplazan en el conjunto de datos.

label_encoder = LabelEncoder()
object_cols = ['xxxx', 'yyyy']
for col in object_cols:
    label_X_train[col] = label_encoder.fit_transform(X_train[col])
    label_X_valid[col] = label_encoder.transform(X_valid[col])

In [0]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import LabelEncoder

## Lectura de datos y exploración

Leer el fichero de datos

In [0]:
file_path = <FILL>
data = <FILL>

Listar las primeras filas del fichero para ver los datos

In [7]:
<FILL>

     Ship_name Cruise_line  Age  ...  cabins  passenger_density   crew
0      Journey     Azamara    6  ...    3.55              42.64   3.55
1        Quest     Azamara    6  ...    3.55              42.64   3.55
2  Celebration    Carnival   26  ...    7.43              31.80   6.70
3     Conquest    Carnival   11  ...   14.88              36.99  19.10
4      Destiny    Carnival   17  ...   13.21              38.36  10.00

[5 rows x 9 columns]

¿cuantas filas y columnas tienen los datos?

In [8]:
<FILL>

(158, 9)

Explore la cantidad de registros, la media, el desvio y los cuartiles de las columnas numéricas.

In [9]:
<FILL>

              Age     Tonnage  ...  passenger_density        crew
count  158.000000  158.000000  ...         158.000000  158.000000
mean    15.689873   71.284671  ...          39.900949    7.794177
std      7.615691   37.229540  ...           8.639217    3.503487
min      4.000000    2.329000  ...          17.700000    0.590000
25%     10.000000   46.013000  ...          34.570000    5.480000
50%     14.000000   71.899000  ...          39.085000    8.150000
75%     20.000000   90.772500  ...          44.185000    9.990000
max     48.000000  220.000000  ...          71.430000   21.000000

[8 rows x 7 columns]

Liste las columnas del dataframe indicando el tipo de datos.

In [10]:
<FILL>

Columna Ship_name tipo: object
Columna Cruise_line tipo: object
Columna Age tipo: int64
Columna Tonnage tipo: float64
Columna passengers tipo: float64
Columna length tipo: float64
Columna cabins tipo: float64
Columna passenger_density tipo: float64
Columna crew tipo: float64

## Preparación de los datos

Defina la columna objetivo a predecir en "y"  y "X" el dataframe con las características que se utilizarán para definir el modelo. Tenga en cuenta que solo se utilizarán las columnas numéricas.

In [0]:
# target object y
y = <FILL>
# Create X
features=<FILL>
X =<FILL>

Defina las particiones para entrenamiento y de validación con semila=1 e imprima cuantas filas utilizará para entrenamiento y cuantas para validar

In [0]:
# Split into validation and training data
train_X, val_X, train_y, val_y = <FILL>

In [13]:
print(<FILL>)

Age                  118
Tonnage              118
passengers           118
length               118
cabins               118
passenger_density    118
dtype: int64

In [14]:
print(<FILL>)

40

## Definición del modelo

Defina el modelo utilizando un arbol de decisión con semilla=1

In [0]:
#Specify Model
cruise_ship_dt_model = <FILL>

Entrene el modelo

In [16]:
# Fit Model
cruise_ship_dt_model.<FILL>

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

## Predicción y validación del modelo

Utilice el modelo para realizar las predicciones con los datos de validación y calcule el valor MAE (mean absolute error) obtenido sin haber indicado la cantidad de hojas (max_leaf_nodes).

In [17]:
val_predictions = <FILL>
val_mae = <FILL>
print("Validation MAE when not specifying max_leaf_nodes %f" %val_mae)

Validation MAE when not specifying max_leaf_nodes 0.462000

Defina la función "get_mae" que le permite calcular valores MAE para diferentes arbóles de decisión con diferentes números de hojas

In [0]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=1)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

Utilice la función get_mae para calcular MAE para los tamaños de 10,50,100,200,500,1000

In [43]:
<FILL>

Max leaf nodes: 10  		 Mean Absolute Error:  0.768456
Max leaf nodes: 50  		 Mean Absolute Error:  0.547230
Max leaf nodes: 100  		 Mean Absolute Error:  0.473750
Max leaf nodes: 200  		 Mean Absolute Error:  0.473750
Max leaf nodes: 500  		 Mean Absolute Error:  0.473750
Max leaf nodes: 1000  		 Mean Absolute Error:  0.473750

¿Cuál es el valor optimo de "max_leaf_nodes" a utilizar para este modelo?

In [0]:
max_leaf_nodes=<FILL>

In [0]:
assert max_leaf_nodes==100,"Error en max_leaf_nodes"

Calcule el vector de predicciones utilizando el modelo con la cantidad de hojas optimo y semilla 1 utilizando ahora todos los datos. Calcule el mae final.

In [22]:
model = <FILL>
model<FILL>
pred_tot = model<FILL>
mae = mean_absolute_error<FILL>
print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %f" %(max_leaf_nodes, mae))

Max leaf nodes: 100  		 Mean Absolute Error:  0.007004

¿Que porcentaje de error obtengo respecto a la media de los valores a predecir?

In [23]:
print(<FILL>)

0.08986476976213031

In [0]:
assert round((mae / y.mean())*100)==0,"Error en resultado de porcentaje de error"

Explore al menos 10 valores calculados con la predicción y compare con los valore originales

In [25]:
<FILL>

real value: 3.533333333333333 predicted value: 3.55 Dif: -0.016666666666666607
real value: 3.533333333333333 predicted value: 3.55 Dif: -0.016666666666666607
real value: 6.65 predicted value: 6.7 Dif: -0.04999999999999982
real value: 19.1 predicted value: 19.1 Dif: 0.0
real value: 10.0 predicted value: 10.0 Dif: 0.0
real value: 9.200000000000001 predicted value: 9.2 Dif: 1.7763568394002505e-15
real value: 9.200000000000001 predicted value: 9.2 Dif: 1.7763568394002505e-15
real value: 9.200000000000001 predicted value: 9.2 Dif: 1.7763568394002505e-15
real value: 9.200000000000001 predicted value: 9.2 Dif: 1.7763568394002505e-15
real value: 11.5 predicted value: 11.5 Dif: 0.0

## Random Forest

Utilice ahora un modelo RandomForest con semilla=1 y calcule el MAE para los datos de validación

In [26]:
forest_model = RandomForestRegressor(<FILL>)
forest_model.fit(<FILL>)
val_predict_rf = forest_model.predict(<FILL>)
mae_val_rf=mean_absolute_error(<FILL>)
print("Mae Random forest con datos de validación=%f" %(mae_val_rf))

Mae Random forest con datos de validación=0.433850

 Utilice todos los datos

In [27]:
forest_model.fit((<FILL>))
predict_rf_tot = forest_model.predict(<FILL>)
mae_tot_rf=mean_absolute_error((<FILL>))
print("Mae Random forest con todos los datos=%f" %(mae_tot_rf))

Mae Random forest con todos los datos=0.197684

¿Que porcentaje de error obtengo respecto a la media de los valores a predecir utilizando random_forest?

In [28]:
print((<FILL>))

2.5362994120895266

In [0]:
assert round((mae_tot_rf / y.mean())*100)==3,"Error en resultado de porcentaje de error"

## Categorización de variables

redefinir las columnas "features" y los datos X. Volver a particionar los datos incluyendo la nueva columna a factorizar

In [0]:
features=["Cruise_line", "Age", "Tonnage","passengers",'length','cabins','passenger_density']
X = data[features]

In [0]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, random_state=1)

Definir la funcion label_encoder, la lista de las columnas a transformar y aplicar la transpormación.

In [0]:
#hacemos una copia de resguardo
label_X_train = X_train.copy()
label_X_valid = X_valid.copy()

# Apply label encoder to each column with categorical data
label_encoder = LabelEncoder()
object_cols = ['Cruise_line']
for col in object_cols:
    label_X_train[col] = label_encoder.fit_transform(X_train[col])
    label_X_valid[col] = label_encoder.transform(X_valid[col])

Explorar el vector X de entrenamiento antes y despues de aplicar la categorización. Utilice set, unique() y nunique()

In [35]:
set(X['Cruise_line'])

{'Azamara',
 'Carnival',
 'Celebrity',
 'Costa',
 'Crystal',
 'Cunard',
 'Disney',
 'Holland_American',
 'MSC',
 'Norwegian',
 'Oceania',
 'Orient',
 'P&O',
 'Princess',
 'Regent_Seven_Seas',
 'Royal_Caribbean',
 'Seabourn',
 'Silversea',
 'Star',
 'Windstar'}

In [36]:
print("Cantidad de Unique values in Cruise_line column in training data:", X_train['Cruise_line'].nunique())

Cantidad de Unique values in Cruise_line column in training data: 20

In [37]:
print(label_X_train.head)

<bound method NDFrame.head of      Cruise_line  Age  Tonnage  passengers  length  cabins  passenger_density
56             7   10   81.769       18.48    9.59    9.24              44.25
136           15   16   78.491       24.35    9.15   10.00              32.23
132           15   22   73.941       27.44    8.80   11.77              30.94
12             1   18   70.367       20.52    8.55   10.20              34.29
54             7   20   55.451       12.64    7.19    6.32              43.87
..           ...  ...      ...         ...     ...     ...                ...
133           15   11  138.000       31.14   10.20   15.57              44.32
137           15   10   90.090       25.01    9.62   10.50              36.02
72             8   36   16.852        9.52    5.41    3.83              17.70
140           15   15   78.491       24.35    9.15   10.00              32.23
37             3   27   53.872       14.94    7.98    7.67              36.06

[118 rows x 7 columns]>

In [38]:
print("Unique values in Cruise_line luego de aplicar la codificación de label:", label_X_train['Cruise_line'].unique())

Unique values in Cruise_line luego de aplicar la codificación de label: [ 7 15  1 13  2  8 14  9  5 11  4  3 17  0 10 18 12 19  6 16]

Defina un nuevo modelo utilizando con la nueva característica e indique los nuevos valores MAE con los datos de validación utilizando Random Forest y Decision Tree. ¿Ha conseguido disminuir el error?

In [0]:
def score_dataset_RandomForest(X_train, X_valid, y_train, y_valid,n_estimators=100):
    model = RandomForestRegressor(n_estimators=100, random_state=1)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    return mean_absolute_error(y_valid, preds)

def score_dataset_DecisionTree(X_train, X_valid, y_train, y_valid,max_leaf_nodes=100):
    model=DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=1)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    return mean_absolute_error(y_valid, preds)

In [40]:
print("MAE incluyendo Cruise Line utilizando Random Forest:") 
print(score_dataset_RandomForest(label_X_train, label_X_valid, y_train, y_valid))

MAE incluyendo Cruise Line utilizando Random Forest:
0.3933324999999998

In [41]:
print("MAE incluyendo Cruise Line utilizando Decision Tres:") 
print(score_dataset_DecisionTree(label_X_train, label_X_valid, y_train, y_valid))

MAE incluyendo Cruise Line utilizando Decision Tres:
0.44200000000000006