## **Modelo de Clasificación**
El objetivo de este ejercicio es encontrar un modelo que permita predecir si un cliente cancelará o no el servicio al que se ha abonado (churn).

https://es.wikipedia.org/wiki/Tasa_de_cancelaci%C3%B3n_de_clientes

Utilizaremos los modelos de clasificación RandomForest, Regresion Logística,  y clasificación MultiClass. 
Revisaremos como utilizar una característica "timestamp"

https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html
https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html

In [0]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics

Ayudas:

1. Indicar en la lectura del fichero csv que columna(s) se tratan como "datetime". Ejemplo, "Onboard_date"

data = pd.read_csv(file_path, parse_dates=["Onboard_date"])

2. Convertir la columna tipo "datetime" en numérica utilizando la función "toordinal"

from datetime import datetime
X['Onboard_date']=X['Onboard_date'].apply(datetime.toordinal)

## Lectura de datos y exploración

Leer el fichero de datos "*Ecommerce_Customers*.csv". Incluya la cláusula  parse_dates=["Onboard_date"] para convertir la columna a timpo timestamp.

In [0]:
file_path = <FILL>
data = pd.read_csv(<FILL>)

Listar las primeras filas del fichero para ver los datos

In [23]:
<FILL>

              Names   Age  ...                      Company  Churn
0  Cameron Williams  42.0  ...                   Harvey LLC      1
1     Kevin Mueller  41.0  ...                   Wilson PLC      1
2       Eric Lozano  38.0  ...  Miller, Johnson and Wallace      1
3     Phillip White  42.0  ...                    Smith Inc      1
4    Cynthia Norton  37.0  ...                   Love-Jones      1

[5 rows x 10 columns]

¿cuantas filas y columnas tienen los datos?

In [24]:
<FILL>

(900, 10)

Explore la cantidad de registros, la media, el desvio y los cuartiles de las columnas numéricas.

In [25]:
<FILL>

              Age  Total_Purchase  ...   Num_Sites       Churn
count  900.000000      900.000000  ...  900.000000  900.000000
mean    41.816667    10062.824033  ...    8.587778    0.166667
std      6.127560     2408.644532  ...    1.764836    0.372885
min     22.000000      100.000000  ...    3.000000    0.000000
25%     38.000000     8497.122500  ...    7.000000    0.000000
50%     42.000000    10045.870000  ...    8.000000    0.000000
75%     46.000000    11760.105000  ...   10.000000    0.000000
max     65.000000    18026.010000  ...   14.000000    1.000000

[8 rows x 6 columns]

Liste las columnas del dataframe indicando el tipo de datos.

In [26]:
<FILL>

Columna Names tipo: object
Columna Age tipo: float64
Columna Total_Purchase tipo: float64
Columna Account_Manager tipo: int64
Columna Years tipo: float64
Columna Num_Sites tipo: float64
Columna Onboard_date tipo: datetime64[ns]
Columna Location tipo: object
Columna Company tipo: object
Columna Churn tipo: int64

## Preparación de los datos

Defina la columna objetivo a predecir en "y"  y  "X", el dataframe con las características que se utilizarán (sólo las numéricas y la fecha). Luego imprima las primeras filas del conjunto de datos totales con las características.

In [27]:
# target object y
y = <FILL>
# Create X
features=<FILL>
X = <FILL>

print(<FILL>)

<bound method NDFrame.head of       Age  Total_Purchase  ...  Num_Sites        Onboard_date
0    42.0        11066.80  ...        8.0 2013-08-30 07:00:40
1    41.0        11916.22  ...       11.0 2013-08-13 00:38:46
2    38.0        12884.75  ...       12.0 2016-06-29 06:20:07
3    42.0         8010.76  ...       10.0 2014-04-22 12:43:12
4    37.0         9191.58  ...        9.0 2016-01-19 15:31:15
..    ...             ...  ...        ...                 ...
895  42.0        12800.82  ...        8.0 2007-12-01 13:29:34
896  52.0         9893.92  ...        7.0 2008-12-28 15:23:58
897  45.0        12056.18  ...        4.0 2014-06-20 05:10:09
898  51.0         6517.93  ...       10.0 2012-05-30 00:15:43
899  39.0         9315.60  ...       10.0 2010-09-25 12:16:08

[900 rows x 6 columns]>

Convierta la columna timestamp en numérica, utilizanlo la función "toordinal"

In [0]:
from datetime import datetime
<FILL>

Revise los datos X

In [29]:
print(<FILL>)

<bound method NDFrame.head of       Age  Total_Purchase  Account_Manager  Years  Num_Sites  Onboard_date
0    42.0        11066.80                0   7.22        8.0        735110
1    41.0        11916.22                0   6.50       11.0        735093
2    38.0        12884.75                0   6.67       12.0        736144
3    42.0         8010.76                0   6.71       10.0        735345
4    37.0         9191.58                0   5.56        9.0        735982
..    ...             ...              ...    ...        ...           ...
895  42.0        12800.82                1   3.62        8.0        733011
896  52.0         9893.92                0   6.91        7.0        733404
897  45.0        12056.18                0   5.46        4.0        735404
898  51.0         6517.93                1   5.47       10.0        734653
899  39.0         9315.60                1   5.02       10.0        734040

[900 rows x 6 columns]>

Defina las particiones para entrenamiento y de validación con semila=1 y dejando un 20% de filas para test. Imprima cuantas filas utilizará para entrenamiento y cuantas para validar

In [0]:
# Split into validation and training data
train_X, val_X, train_y, val_y = <FILL>

In [31]:
print(<FILL>)

Age                720
Total_Purchase     720
Account_Manager    720
Years              720
Num_Sites          720
Onboard_date       720
dtype: int64

In [32]:
print(<FILL>)

180

## Definición del modelo

Defina el modelo utilizando LogisticRegression con semilla=1, solver=lgfgs y multi_class='multinomial'

In [0]:
customer_churn = LogisticRegression(<FILL>)

Entrene el modelo

In [34]:
# Fit Model
customer_churn.<FILL>

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='multinomial', n_jobs=None, penalty='l2',
                   random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## Predicción y validación del modelo

Utilice el modelo para realizar las predicciones con los datos de validación y calcule el valor MAE (mean absolute error) obtenido sin haber indicado la cantidad de hojas (max_leaf_nodes).

In [35]:
from sklearn import metrics
val_predictions = <FILL>
score=round(<FILL>)
print("Score datos validación %f" %score)
print("Accuracy:",<FILL>)

Score datos validación 0.822200
Accuracy: 0.8222222222222222

In [0]:
assert round(score*100)==82,"Error en resultado de score"

Calcule los resultados del modelo utilizando random forest con 1000 estimadores y max_depth=10, y semilla=1

In [37]:
RF = <FILL>
RF.<FILL>
round(RF.score(<FILL>)

0.8667

Calcule los resultados del modelo utilizando Multi-Class Classification utilizando solver='lbfgs'

In [38]:
NN = <FILL>
NN.<FILL>
round(<FILL>)

0.8222

## Resultados finales

Utilice el mejor modelo obtenido y calcule el score con todos los datos

In [39]:
<FILL>
score=<FILL>
round(score,2)

0.97

In [0]:
assert round(score,2)*100==97,"Error en resultado de porcentaje de error"