## **Modelo de Regresión**
El objetivo de este ejercicio es encontrar un modelo que permita predecir la cantidad que se gasta por año un cliente en un sitio de comercio electrónico.
Utilizaremos "Decisión Tree" y "random forest"
https://scikit-learn.org/stable/modules/tree.html
https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

In [0]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

## Lectura de datos y exploración

Leer el fichero de datos "*Ecommerce_Customers*.csv"

In [0]:
file_path = <FILL>
data = <FILL>

Listar las primeras filas del fichero para ver los datos

In [4]:
<FILL>

                           Email  ... Yearly Amount Spent
0      mstephenson@fernandez.com  ...          587.951054
1              hduke@hotmail.com  ...          392.204933
2               pallen@yahoo.com  ...          487.547505
3        riverarebecca@gmail.com  ...          581.852344
4  mstephens@davidson-herman.com  ...          599.406092

[5 rows x 8 columns]

¿cuantas filas y columnas tienen los datos?

In [5]:
<FILL>

(500, 8)

Explore la cantidad de registros, la media, el desvio y los cuartiles de las columnas numéricas.

In [6]:
<FILL>

       Avg Session Length  ...  Yearly Amount Spent
count          500.000000  ...           500.000000
mean            33.053194  ...           499.314038
std              0.992563  ...            79.314782
min             29.532429  ...           256.670582
25%             32.341822  ...           445.038277
50%             33.082008  ...           498.887875
75%             33.711985  ...           549.313828
max             36.139662  ...           765.518462

[8 rows x 5 columns]

Liste las columnas del dataframe indicando el tipo de datos.

In [7]:
<FILL>

Columna Email tipo: object
Columna Address tipo: object
Columna Avatar tipo: object
Columna Avg Session Length tipo: float64
Columna Time on App tipo: float64
Columna Time on Website tipo: float64
Columna Length of Membership tipo: float64
Columna Yearly Amount Spent tipo: float64

## Preparación de los datos

Defina la columna objetivo a predecir en "y"  y "X" el dataframe con las características que se utilizarán para definir el modelo. Tenga en cuenta que solo se utilizarán las columnas numéricas.

In [0]:
# target object y
y = <FILL>
# Create X
features=<FILL>
X = <FILL>

Defina las particiones para entrenamiento y de validación con semila=1 e imprima cuantas filas utilizará para entrenamiento y cuantas para validar

In [0]:
# Split into validation and training data
train_X, val_X, train_y, val_y = <FILL>

In [10]:
print(<FILL>)

Avg Session Length      375
Time on App             375
Time on Website         375
Length of Membership    375
dtype: int64

In [11]:
print(<FILL>)

125

## Definición del modelo

Defina el modelo utilizando un arbol de decisión con semilla=1

In [0]:
#Specify Model
ecommerce_model = <FILL>

Entrene el modelo

In [13]:
# Fit Model
ecommerce_model.<FILL>

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

## Predicción y validación del modelo

Utilice el modelo para realizar las predicciones con los datos de validación y calcule el valor MAE (mean absolute error) obtenido sin haber indicado la cantidad de hojas (max_leaf_nodes).

In [14]:
val_predictions = <FILL>
val_mae = mean_absolute_error(<FILL>)
print("Validation MAE when not specifying max_leaf_nodes: {:,.0f}".format(val_mae))

Validation MAE when not specifying max_leaf_nodes: 24

Defina la función "get_mae" que le permite calcular valores MAE para diferentes arbóles de decisión con diferentes números de hojas

In [0]:
def get_mae<FILL>

Utilice la función get_mae para calcular MAE para los tamaños de 10,50,100,200,500,1000

In [16]:
<FILL>

Max leaf nodes: 10  		 Mean Absolute Error:  35
Max leaf nodes: 50  		 Mean Absolute Error:  24
Max leaf nodes: 100  		 Mean Absolute Error:  23
Max leaf nodes: 200  		 Mean Absolute Error:  23
Max leaf nodes: 500  		 Mean Absolute Error:  23
Max leaf nodes: 1000  		 Mean Absolute Error:  23

¿Cuál es el valor optimo de "max_leaf_nodes" a utilizar para este modelo?

In [0]:
max_leaf_nodes=<FILL>

In [0]:
assert max_leaf_nodes==100,"Error en max_leaf_nodes"

Calcule el vector de predicciones utilizando el modelo con la cantidad de hojas optimo y semilla 1, ahora con todos los datos. Calcule el mae final.

In [19]:
model = <FILL>
model.fit(<FILL>)
pred_tot = model<FILL>
mae = mean_absolute_error(y, pred_tot)
print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %f" %(max_leaf_nodes, mae))

Max leaf nodes: 100  		 Mean Absolute Error:  7.755945

In [20]:
¿Que porcentaje de error obtengo respecto a la media de los valores a predecir?

Object `predecir` not found.

In [21]:
print(<FILL>)

1.5533200465251067

In [0]:
assert round((mae / y.mean())*100)==2,"Error en resultado de porcentaje de error"

Explore al menos 10 valores calculados con la predicción y compare con los valore originales

In [23]:
<FILL>

real value: 590.1376501817424 predicted value: 587.9510539684005 Dif: 2.186596213341886
real value: 386.6425215563775 predicted value: 392.2049334443264 Dif: -5.562411887948883
real value: 510.2059031981138 predicted value: 487.54750486747207 Dif: 22.658398330641717
real value: 578.1965704477562 predicted value: 581.8523440352177 Dif: -3.6557735874614536
real value: 607.4791461484118 predicted value: 599.4060920457634 Dif: 8.07305410264837
real value: 636.8983779393884 predicted value: 637.102447915074 Dif: -0.20406997568557017
real value: 532.7439154562218 predicted value: 521.5721747578274 Dif: 11.171740698394387
real value: 550.1675436434481 predicted value: 549.9041461052942 Dif: 0.26339753815386757
real value: 578.1965704477562 predicted value: 570.2004089636196 Dif: 7.996161484136678
real value: 446.20581733069815 predicted value: 427.1993848953282 Dif: 19.00643243536996

## Random Forest

Utilice ahora un modelo RandomForest con semilla=1 y calcule el MAE para los datos de validación y para todos los datos

In [24]:
forest_model = <FILL>
forest_model.<FILL>
val_predict_rf = forest_model.predict(<FILL>)
mae_val_rf=mean_absolute_error(<FILL>)
print("Mae Random forest con datos de validación=%f" %(mae_val_rf))

Mae Random forest con datos de validación=15.119276

In [25]:
forest_model.fit(<FILL>)
predict_rf_tot = forest_model.predict(<FILL>)
mae_tot_rf=mean_absolute_error(<FILL>)
print("Mae Random forest con todos los datos=%f" %(mae_tot_rf))

Mae Random forest con todos los datos=4.983887

¿Que porcentaje de error obtengo respecto a la media de los valores a predecir utilizando random_forest?

In [26]:
print(<FILL>)

0.9981466832945145

In [0]:
assert round((mae_tot_rf / y.mean())*100)==1,"Error en resultado de porcentaje de error"

# New Section