## **Modelo de Clasificación**
El objetivo de este ejercicio es encontrar un modelo que permita predecir si los pasajeros del titanic sobreviven o no.


Descripción del dataSet:

* survival - Survival (0 = No; 1 = Yes)
* class - Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
* name - Name
* sex - Sex
* age - Age
* sibsp - Number of Siblings/Spouses Aboard
* parch - Number of Parents/Children Aboard
* ticket - Ticket Number
* fare - Passenger Fare
* cabin - Cabin
* embarked - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = * Southampton)
* boat - Lifeboat (if survived)
* body - Body number (if did not survive and body was recovered)


Utilizaremos los modelos de clasificación RandomForest, Regresion Logística,  y clasificación MultiClass. 

https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html
https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html

Realizemos drop de las filas con na o null
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html

Ayuda:

1. Tratamiento de nulos
En este ejercicio eliminaremos todas las filas que tengan algun valor nulo mediante

data_selected = data_selected.dropna(axis=0)


El parámetro axis=0 indica que se eliminaran las filas. Si se utiliza axis=1, se elimina la columna completa.

Ver el tutorial de tratamiento de nulos del Kaggle.

[Tutorial Kaggle](https://www.kaggle.com/dansbecker/handling-missing-values)

In [0]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics

## Lectura de datos y exploración

Leer el fichero de datos "College.csv".

In [0]:
file_path = <FILL>
data = <FILL>

Listar las primeras filas del fichero para ver los datos

In [26]:
<FILL>

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

¿cuantas filas y columnas tienen los datos?

In [27]:
<FILL>

(891, 12)

Seleccione de los datos, las columnas con las que trabajaremos:
['Survived',
 'Pclass',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'Embarked'])

In [0]:
selected = <FILL>
data_selected=data[<FILL>]

Elimine las filas que tienen datos en nulos o na:

In [0]:
data_selected = <FILL>

Explore la cantidad de registros, la media, el desvio y los cuartiles de las columnas numéricas de los datos con que trabajaremos.

In [30]:
<FILL>

         Survived      Pclass         Age       SibSp       Parch        Fare
count  712.000000  712.000000  712.000000  712.000000  712.000000  712.000000
mean     0.404494    2.240169   29.642093    0.514045    0.432584   34.567251
std      0.491139    0.836854   14.492933    0.930692    0.854181   52.938648
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    1.000000   20.000000    0.000000    0.000000    8.050000
50%      0.000000    2.000000   28.000000    0.000000    0.000000   15.645850
75%      1.000000    3.000000   38.000000    1.000000    1.000000   33.000000
max      1.000000    3.000000   80.000000    5.000000    6.000000  512.329200

Liste las columnas del dataframe indicando el tipo de datos.

In [31]:
<FILL>

Columna Survived tipo: int64
Columna Pclass tipo: int64
Columna Sex tipo: object
Columna Age tipo: float64
Columna SibSp tipo: int64
Columna Parch tipo: int64
Columna Fare tipo: float64
Columna Embarked tipo: object

¿Cuantas han sobrevido y cuantos no?

In [32]:
data_selected.groupby(<FILL>)

          Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
Survived
0            424  424  424    424    424   424       424
1            288  288  288    288    288   288       288

## Preparación de los datos

Liste las variables categóricas

In [33]:
<FILL>

Categorical variables:
['Sex', 'Embarked']

Liste los diferentes valores de las columnas "categorical"

In [34]:
print(set(<FILL>))
print(set(<FILL>))

{'female', 'male'}
{'S', 'C', 'Q'}

Indique en una lista las columnas a las que aplicar "label encoder" en good_label_cols y las que no se aplicará el encoder en bad_label_cols

In [0]:
label_cols =<FILL>

Aplique la función de labelEncoder a las label_cols. Liste las primeras filas resultantes del conjunto de datos "label_data"

In [36]:
<FILL>

data_selected.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

Defina la columna objetivo en col_y y en features todas las columnas de data_selected, excepto la columna objetivo

In [37]:
col_y=<FILL>
features = [x for x in data_selected.columns if x != col_y]
features

['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']

Defina "y", y X.

In [38]:
# target object y
y = data_selected[<FILL>]
# Create X
X = data_selected[<FILL>]

print(X.head)

<bound method NDFrame.head of      Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         3    1  22.0      1      0   7.2500         2
1         1    0  38.0      1      0  71.2833         0
2         3    0  26.0      0      0   7.9250         2
3         1    0  35.0      1      0  53.1000         2
4         3    1  35.0      0      0   8.0500         2
..      ...  ...   ...    ...    ...      ...       ...
885       3    0  39.0      0      5  29.1250         1
886       2    1  27.0      0      0  13.0000         2
887       1    0  19.0      0      0  30.0000         2
889       1    1  26.0      0      0  30.0000         0
890       3    1  32.0      0      0   7.7500         1

[712 rows x 7 columns]>

Defina las particiones para entrenamiento y de validación con semila=1 y dejando un 20% de filas para test. Imprima cuantas filas utilizará para entrenamiento y cuantas para validar

In [0]:
# Split into validation and training data
train_X, val_X, train_y, val_y = <FILL>

In [40]:
print(train_X.count())

Pclass      569
Sex         569
Age         569
SibSp       569
Parch       569
Fare        569
Embarked    569
dtype: int64

In [41]:
print(<FILL>)

143

## Definición del modelo

Defina el modelo utilizando LogisticRegression con semilla=1

In [0]:
titanic = <FILL>

Entrene el modelo. Aumente el numero de iteraciones si obtiene un error.

In [43]:
# Fit Model
titanic.<FILL>

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='multinomial', n_jobs=None, penalty='l2',
                   random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## Predicción y validación del modelo

Utilice el modelo para realizar las predicciones con los datos de validación y calcule el valor "score" o "accuracy"

In [44]:
from sklearn import metrics
val_predictions = titanic.<FILL>
score=round(<FILL>)
print("Score datos validación %f" %score)
print("Accuracy:",metrics.accuracy_score(<FILL>))

Score datos validación 0.755200
Accuracy: 0.7552447552447552

In [0]:
assert round(score*100)==76,"Error en resultado de score"

Calcule los resultados utilizando random forest con 1000 estimadores y max_depth=10, y semilla=1

In [46]:
RF = RandomForestClassifier(<FILL>)
RF.predict(<FILL>)
round(RF.score(<FILL>)

0.8112

Calcule los resultados del modelo utilizando Multi-Class Classification utilizando solver='lbfgs' y un max_iter=1000

In [47]:
NN = MLPClassifier(<FILL>y)
NN.predict(<FILL>)
round(NN.score(<FILL>)

0.5944

## Resultados finales

Utilice el mejor modelo obtenido y calcule el score con todos los datos

In [48]:
RF.predict(<FILL>)
score=round(<FILL>)
round(score,2)

0.93

In [0]:
assert round(score,2)*100==93,"Error en resultado de porcentaje de error"